# Ignore datasets
movie-recommendation-system/data/
sentiment-analysis/data/

# Ignore model files if large
*.pkl

# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
.env

# Mac
.DS_Store