# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/

# Mac system files
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Python build
build/
dist/
*.egg-info/

# Logs
*.log

# IDE
.vscode/
.idea/

# Streamlit secrets
.streamlit/secrets.toml

# Environment variables
.env

# Datasets
data/

# Ignore raw CSV exports
*.csv